.align-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
}

.align-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    padding-bottom: 10px;
}

.positive-cell {
    background: rgb(71, 195, 71);
}

.negative-cell {
    background: rgb(242, 73, 73);
}

.custom-table {
    border-collapse: separate;
    border-spacing: 0 8px;
}

.custom-table th,
.custom-table td {
    border: 1px solid #ddd;
    padding: 8px;
}
