.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 70px 1fr;
    height: 100vh;
    overflow: hidden;
    transition: 0.3s;
}

.container.collapsed {
    grid-template-columns: 70px 1fr;
    transition: 0.3s;
}

.content {
    grid-area: content;
    background-color: #eee;
    padding: 10px 30px;
    overflow: auto;
}

.main {
    padding: 20px
}
/* #004AAD */
/* #5271FF */
/* #0097B2 */
/* #0CC0DF */
/* #5CE1E6 */
/* #062958 */

/* HEADER */

.header {
    grid-area: header;
    background: linear-gradient(to right, #2e6bfb8c, #004AAD 90%);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
}

.logo img {
    width: 100px;
    height: 100px;
    padding-left: 40px;
}

.header-right {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;
    color: white;
}

/* SIDER */
.collapse-button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background: linear-gradient(to bottom, #2e6bfb8c, #004AAD 100%);
    color: #fff;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px;
    transition: width 0.3s;
    position: relative;
    overflow: auto;
}

.sidebar.collapsed {
    width: 50px;
    transition: 0.3s;
}

.sidebar-content {
    flex: 1;
    flex-direction: column;
    padding: 5px;
}

.sidebar-bottom {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}