.container {
    display: grid;
    grid-template-areas:
        "header header"
        "sidebar content";
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50px 1fr;
    height: 100vh;
    overflow: hidden;
    transition: 0.3s;
}

.container.collapsed {
    grid-template-columns: 70px 1fr;
    transition: 0.3s;
}

.content {
    grid-area: content;
    background-color: #FFF;
    padding: 10px w0px;
    overflow: auto;
}

.main {
    padding: 20px
}

.bread-crumb-align {
    padding: 17px 15px;
    font-weight: bold;
    font-style: italic;
}

/* HEADER */

.header {
    grid-area: header;
    background: linear-gradient(to right, #001529, #1677ff 100%);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 0;
    justify-content: space-between;
}

.logo img {
    width: 88px;
    height: 81px;
    padding-left: 65px;
    padding-top: 7px;
}

.header-right {
    display: flex;
    align-items: center;
}

.user-info {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.logout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
    background-color: transparent;
    color: white;
}

/* SIDER */
.collapse-button {
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    text-align: left;
    width: 100%;
}

.sidebar {
    grid-area: sidebar;
    background: #001529;
    color: #fff;
    padding: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 180px;
    transition: width 0.3s;
    position: relative;
    overflow: auto;
}

.sidebar.collapsed {
    width: 50px;
    transition: 0.3s;
}

.sidebar-content {
    flex: 1;
    flex-direction: column;
    padding: 5px;
}

.sidebar-bottom {
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

.button-collapsed {
    background: #1677ff;
    display: flex;
    align-items: center;
    justify-content: center
}